$color-white: #FFFFFF;
$color-black: #4A4A4A;
$color-white-two: #F5F5F7;
$color-white-three: #E8E8E8;
$color-white-four: #ECECEC;
$color-white-five: #E9E9E9;
$color-greyish: #9B9B9B;
$color-greyish-light: #DADADA;
$color-greyish-light-two: #CDCDCD;
$color-ocean-blue-light: #4A90E2;
$color-silver: #CCCCCC;
$color-green-light: #21D366;
$color-scarlet: #97040C;
$color-cherry-red: #B93337;

